@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
--col-active: rgba(70, 70, 70, 0.2);
--color-header: #ffffff;
--colorMiNav: #ffffff;
}

body {
max-width: 640px;
margin: 0 auto;
padding: 0.5rem;
}

header {
position: sticky;
top: 0;
background-color: var(--color-header);
padding: 1rem 0;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.herramientas {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
margin-top: 0.5rem;
padding-bottom: 0.5rem;
gap: 0.5rem;
}

header input {
flex-grow: 1;
padding: 0.5rem;
border: 1px solid #ccc;
border-radius: 4px;
}

h1 {
margin: 0.5rem 0;
font-size: 1.5rem;
}

figure img {
max-width: 100%;
height: auto;
}

legend,
p label {
display: block;
font-weight: bold;
font-size: 0.8rem;
margin-bottom: 0.5rem;
}

p label > * {
display: block;
font-weight: normal;
font-size: 1rem;
box-sizing: border-box;
width: 100%;
margin-top: 0.5rem;
}